# Ignore node_modules directory
node_modules/

# Ignore all files except .js files
*
!.gitignore
!*.js

# If you have other important files or directories you want to include, you can whitelist them here
# For example, to include your package.json and package-lock.json files:
!package.json
!package-lock.json
